---
import { BACK_END_URL } from "astro:env/client";


const at = Astro.cookies.get('jwt');

const url = `${BACK_END_URL}/api/connect/google`;

// console.log(at);

export const prerender = false;
---

{at? <a class="auth-link" href="/">Mi Cuenta</a> : <a class="auth-link" href={url}>Log In</a>}

<style>
  .auth-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4a5568;
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }

  .auth-link:hover {
    background-color: #2d3748;
  }
</style>