---

---
<form id="registro-form" class="max-w-md mx-auto mt-8">
  <div class="mb-4">
    <label for="username" class="block mb-2 font-bold text-gray-700">Nombre de usuario</label>
    <input type="text" id="username" name="username" required class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
  </div>
  <div class="mb-4">
    <label for="email" class="block mb-2 font-bold text-gray-700">Correo electrónico</label>
    <input type="email" id="email" name="email" required class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
  </div>
  <div class="mb-6">
    <label for="password" class="block mb-2 font-bold text-gray-700">Contraseña</label>
    <input type="password" id="password" name="password" required class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
  </div>
  <div class="flex items-center justify-between">
    <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline">
      Registrarse
    </button>
  </div>
</form>


<script>
  import { actions } from 'astro:actions';
  import { navigate } from 'astro:transitions/client';

  const form = document.querySelector('form');
  form?.addEventListener('submit', async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const userData = Object.fromEntries(formData);
    console.log(formData);
    console.log(userData);
    const { error } = await actions.createUser(formData);
    console.log(error);
    // if (!error) navigate('/confirmation');
  })
</script>