---
import ButtonFix from "@/components/ButtonFix.astro";
interface Props {
  name: string;
  slug: string;
  description: string;
  view: "archive" | "hero";
}

const  {name, slug, description, view} = Astro.props;
const viewType = {
  archive: "bg-slate-600 text-gray-200 border-blue-400 hover:bg-slate-700 hover:border-blue-500 hover:shadow-2xl hover:text-white" ,
  hero: "bg-slate-700 border-blue-500 shadow-2xl text-white"
}

const classes = viewType[view];

export const prerender = true
---

<div transition:name={`cat-card-${slug}`} class={`${classes} overflow-hidden border-2 w-full space-y-4 py-4 px-6 rounded-lg flex flex-col items-center`}>
  <h1 class="font-bold text-2xl ">{name}</h1>
  <p class={view === "archive" ? "line-clamp-2" : "line-clamp-none"}>{description+". "+description}</p>
  {view === "archive" && <ButtonFix text="Ver Todos" href={`categoria/${slug}`}/>}
</div>